.content {
  padding-top: 12px;
  & h1 {
    font-family: $fontMedium;
    font-size: 2.4rem;
  }
  &__sub-heading {
    font-size: 1.2rem;
    color: $colorRed;
    margin-bottom: 12px;
  }
  &__small-text {
    color: #979797;
    font-size: 1rem;
  }
  &-list {
    font-size: 1.8rem;
    margin: 40px 0;
    padding: 0 20px;
    & li {
      position: relative;
      margin-bottom: 22px;
      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        background: url("../images/list.svg") no-repeat center;
        width: 12px;
        height: 12px;
        transition: all .3s;
      }
      & a {
        color: black;
        display: block;
        & span {
          display: block;
          color: #979797;
          font-size: 1rem;
        }
      }
    }
  }
  &__btn {
    text-align: center;
    margin-top: 30px;
  }
}